[2020-05-19 22:24] ederbond opened #5 "How do I serialize the iOS NSData deviceToken to perform backend installation on a non Azure WebApi?"
Using Xamarin.iOS, how do I correctly serialize the native iOS push token to properly send it to my asp.net core backend server for further usage to create an Azure Notification Hubs installation on the backend server. My asp.net core backend server will not be running on Azure it will be on premise server.
Can you guys help-me? Cause the docs just says that it is possible but doesn't explain how

[2020-08-05 21:10] marstr commented on #5
@mpodwysocki, mind taking a look at this?

[2020-08-05 21:13] mpodwysocki commented on #5
@ederbond using the `Xamarin.Azure.NotificationHubs.iOS` package, you can get the token using the `MSNotificationHub.GetPushChannel()` method which should give you the device token.

[2020-08-05 21:14] #5 closed

[2020-10-07 04:41] jessejiang0214 opened #12 "[QUERY]Is the Xamarin.Forms nuget package is available to public?"
**Query/Question**
Just want to confirm where can I find the Nuget package for the Xamarin.Form project?

***Why is this not a Bug or a feature Request?***
I want to use the new API in my project, but I cannot find the nuget.

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS 13.x]
 - IDE : [e.g. Visual Studio 2019]
 - Version of the Library used

 **Information

[2020-10-09 11:32] RST90 opened #13 "[BUG]System.InvalidCastException when using MSNotificationHubMessage for iOS"
**Describe the bug**
When I receive a push notification via Azure NotificationHub on iOS, the app crashes due to an System.InvalidCastException which happens inside the MSNotificationHubMessage class. Inside this class you cast the UserInfo from the push notification from a NSDictionary to a NSDictionary<NSString, NSString>. This seems to be wrong as the UserInfo does not only contain key-value pa

[2020-10-11 05:45] mauro-dasilva commented on #12
Yeah, I was wondering the same thing. I cant seem to find it anywhere.

[2020-10-11 07:27] adambarath commented on #12
It is not available on nuget. Documentation of this repository starts clearing it as well:

[2020-10-11 08:04] adambarath opened #14 "[FEATURE REQ] Target monoandroid10.0"
It would be nice to bump build target to monoandroid10.0 and also use the AndroidX packages.

I think a the solution is add the monoandroid10.0 to the csproj and add reference to Xamarin.AndroidX.Migration nuget, too. I'm not sure, but probably it'll not necessary to create a new release from https://github.com/Azure/azure-notificationhubs-android , because AndroidX.Migration would handle AndroidX

[2020-10-14 18:30] dmcspadden opened #19 "[BUG] Project fails to build"
**Describe the bug**
After adding the source project to my solution and clicking build 130 errors are indicated.  They all appear to be android .png files?  Trying to build the source project on its own, using VS 2019 and VS 2019 Preview yields the same issue.

***Exception or Stack Trace***
1>Microsoft.Azure.NotificationHubs.Client -> C:\Users\davidm\Downloads\azure-notificationhubs-xamarin-main\

[2020-10-14 19:06] dmcspadden commented on #19
Commenting out the following in Xamarin.Android.Aapt2.targets allows the project to build, but that's probably not an ideal solution given the warning message at the top of that file....

`<Target Name="_CompileResources"
    Condition=" '$(_AndroidUseAapt2)' == 'True' "
    Inputs="$(MSBuildAllProjects);$(_AndroidBuildPropertiesCache);@(_CompileResourcesInputs)"
    Outputs="@(_CompileResourcesIn

[2020-10-24 14:35] andrekiba opened #21 "[BUG] Migration from AppCenter Push not clear at all, installation fails"
**Describe the bug**
Seems impossibile to migrate devices from AppCenter Push to NotificationHub without re-installing the application.

***Exception or Stack Trace***
WindowsAzure.Messaging.NotificationHubs.ClientException: Azure Notification Hub rejected the request.
`com.microsoft.windowsazure.messaging.notificationhubs.ClientException: Azure Notification Hub rejected the request.
com.microsoft

[2020-10-26 20:45] elamje commented on #21
I'm in a similar boat as the OP. The lack of documentation for the new MSNotificationHub is crushing the development of our application. On the android side, I am able to save a registration id to a db to target that device with a specific update, however the iOS sdk (MSNotificationHub) doesn't have the same concept. There is no clear way to get a unique device identifier that Notification Hubs ca

[2020-10-27 20:36] marstr commented on #21
Howdy folks, I'm truly sorry to hear that you are experiencing these frustrations with our documentation while migrating.

To keep this thread focused, I'd like to focus this discussion on the original bug mentioned by @andrekiba:

Instead it always works re-installing the application as new (not a possible scenario at all!!).

The stack trace indicates a client-side error, which likely means that

[2020-10-27 23:31] marstr commented on #21
I've dug into this a bit today, and here's what I've found:

It's pretty easy for me to repro getting a 400 on first launch of an Android application. This is happening because the push-service (Firebase in this case) hasn't had time to initialize and assign the device a unique identifier for cloud messaging quite yet, and is losing a race with our Installation update pipeline. However - this does

[2020-10-28 05:21] andrekiba commented on #21
Hello and thanks in advance @marstr, after some investigations I also noticed the 400 error behaviour on first run, this triggers the OnInstallationFailed event, but then, as you said, also the OnInstallationSaved will be triggered and so I finally have the notification hub installation id that I can then persist on db.
Unfortunately this is true for new applications...or at least it seems.
In cas

[2020-10-28 15:07] SergTomcat commented on #13
Have exatcly the same problem. It completely inhibits payload reading, and there's no way to access original payload for any workaround.
@RST90 provided simple and logical solution.

[2020-10-28 21:59] marstr commented on #21
Interesting - that does sound like it warrants further investigation. I'll work on repro'ing this. In the meeantime @andrekiba, the exception that is being raised looks like its of type `ClientException`. That type has methods `getStatusCode` and `getResponseBody`. Mind logging those, or reading from them in a debugger and posting the error that we are responding with?

[2020-10-28 23:43] marstr commented on #21
To your question about expiration - You are correct. If the client does not specify an expiration, the server will not apply one. The new ANH SDK acts as the client and adds one by default - but also will automatically extend that expiration date everyday when your user first launches the app.

[2020-10-30 09:05] andrekiba commented on #21
Hello @marstr, the `ClientException` seems defined in `Xamarin.Azure.NotificationHubs.Android` correct? It is not available in Xamarin.Forms. So in which way I can retrieve what you asking for? I suppose I have to manage the hub connection inside the Xamarin.Android project and not the Forms one. Or I can inspect something from `InstallationSaveFailedEventArgs`?

About the expiration of the instal

[2020-10-30 22:40] marstr opened #24 "[BUG] Android PlatformInitialize Method doesn't invoke Start"
This method should call `AndroidNotificationHub.Start(...)` but it doesn't:

https://github.com/Azure/azure-notificationhubs-xamarin/blob/5a6ead0dce88fc0cab389e7b28e57effdee070d5/src/Microsoft.Azure.NotificationHubs.Client/NotificationHub.android.cs#L93-L99

[2020-10-30 23:34] marstr commented on #21
Hi again @andrekiba,

You should be able to inspect the Exception that lives inside of `InstallationSaveFailedEventArgs`. Here's a screen shot of me inspecting a rejection after I deliberately add an invalid tag during initialization:

![image](https://user-images.githubusercontent.com/11203166/97764233-2d8f9580-1acb-11eb-9ebd-33d87c89c82d.png)

As you can see, `e.Exception` has a `base` of `Notif

[2020-11-02 08:24] adambarath opened #25 "[BUG][Android] Installation fails"
**Describe the bug**
Not regeristered itself as the documentation described, installation fails.. I call NotificationHub.Start(connString, hubName); after FirebaseMessagingService.OnNewToken is called by OS.

***Exception or Stack Trace***
InstallationSaveFailed Exception is:
`<Error><Code>400</Code><Detail>Installation validation failed with following error(s):&#xD;
'PushChannel' is required.&#xD

[2020-11-02 17:42] andrekiba commented on #21
OK @marstr thank you, I try to find a way to retrieve the informations you need. Sorry for the delay but unfortunately it is not easy to debug a production ready app distrubuted with AppCenter. You have someway to "simulate" the in-app update process...with the possibility to attach the debugger.

[2020-11-02 17:45] marstr commented on #21
In the next update this information will be easier to retrieve - because it will be embedded in the Exception message already. So you're already helping make this SDK better :)

[2020-11-02 18:47] marstr commented on #25
Sorry you're running into trouble, @adambarath. We're aware of a race condition that may be causing some noise at initialization time, but that should resolve itself quickly. When you encounter this exception, is it a persistent problem or does it resolve itself after a few seconds?

If it is persistent, do you know that Firebase has finished initializing because you see a log entry, or because yo

[2020-11-02 20:25] andrekiba commented on #21
Because trying to debug a release version seems almost impossibile I did something like this:
[code]
so I added the line `throw e.Exception;` and then I log the `NotificationHubException` in the Android project where I can use the type, as following
[code]
I know that re-throwing the exception I loose the stack trace but maybe we can have what we need.
Unfortunately I tested this code with 3 diffe

[2020-11-03 06:47] adambarath commented on #25
It's persistent.

This is my original implementation, so this code works well, tested, in production:
[code]

BUT this is got that failure and run into InstallationSaveFailed always.
[code]

You pointed 'a second Firebase service receiving the event'. Is this a possible issue to have 2 firebase services?

[2020-11-03 15:08] marstr commented on #25
I see - in the new namespace a `FirebaseMessagingService` is already created and running for you. If you look at your merged AndroidManifest.xml, there will be an entry for our `FirebaseReceiver`. Also, when using the new namespace, our code will take care of registering for you once you call `Start`, which should only need to be called once.

I have a few recommendations:
1. If you're not customi

[2020-11-03 23:51] marstr commented on #21
That shouldn't be a problem.

It may be time to transfer this over to our official Azure support channels. That way we'll be able to safely communicate your personal information and look into your troubles from our side. In the Azure portal page for your Notification Hub, you should see a button that says "New support request" that will get the process started.

[2020-11-04 09:09] adambarath commented on #25
So, do you mean the following part of the manifest?
[code]

[2020-11-04 15:28] marstr commented on #25
Yep - that's the relevant bit. To fix it, you can either suppress that addition of the new namespace's receiver and forego using any of the code there or remove yours.

Anyway, since this problem is understood and there's no action to take I'm going to close out this issue.

[2020-11-04 15:28] #25 closed

[2020-11-05 07:06] adambarath commented on #25
Thank you for your help!

I removed my FirebaseMessagingService and now it is works properly.

[2020-11-09 04:37] jbtamaresgit commented on #14
Any updates for this? Apparently I am having an issue with Android10 for not receiving a push notification when I migrated to the latest packages for both androidX, firebase, and googleplayservices.

[2020-11-11 09:42] DopaFiend opened #26 "[BUG] iOS push notifications not received to physical device from Azure"
**Describe the bug**
Originally posted on stackoverflow, was recommended by a Microsoft support engineer to post here:
https://stackoverflow.com/questions/64768446/ios-push-notification-not-received-to-physical-device-from-azure

I follow this Microsoft guide rigorously but push notifications don't come through to the physical device:
https://docs.microsoft.com/en-us/azure/notification-hubs/xamari

[2020-11-11 09:44] DopaFiend commented on #26
I forgot to add, the iPhone does pop up with a permission request for push notifications, which I accept.

[2020-11-11 22:52] mpodwysocki commented on #24
Closed as per #28

[2020-11-11 22:52] #24 closed

[2020-11-11 22:55] mpodwysocki commented on #13
@SergTomcat Fixing as per 3.1.2 NuGet release which should be out soon, see https://github.com/xamarin/XamarinComponents/pull/1015

[2020-11-11 22:55] #13 closed

[2020-11-16 08:40] pavloss commented on #26
I'm experiencing the same behaviour with a different framework. Underlying class handle also gives:
Unable to cast object of type 'Mono.Debugger.Soft.PointerValue' to type 'Mono.Debugger.Soft.PrimitiveValue'.

[2020-11-17 23:57] marstr commented on #21
Version 1.1.3 of the Android SDK now includes more details in the Exception message by default, and should help diagnose the problems you're running into.

[2020-11-22 15:53] c0demak3r commented on #26
I'm experiencing the exact same as shown above, following exactly the same Microsoft docs article and verbatim code. The counterpart Xamarin.Android knowledge article and Azure Notification Hub Tests work perfectly.

[2020-12-11 17:19] wheelie33 opened #38 "[BUG] Solution cannot be built on clone."
Clone the repo
open src/Microsoft.Azure.NotificationHubs.Client.sln

[2020-12-13 09:50] henrikweimenhog opened #39 "[QUERY] iOS authorization request"
**Query/Question**
It is unclear whether I need to make an authorization request for using notifications when I use Azure notifications hub. I assume that I still do, but do I need to do it before calling MSNotificationHub.Start() or can I do it at a later stage?
I would like to have my auth request deeper into my app code together with some explanations, but can/should I still have the MSNotifica

[2020-12-14 12:33] nativenolde commented on #26
Is there any news about this?

[2020-12-15 15:18] MyotisX opened #40 "[BUG]NotificationMessageReceived does not trigger when opening notification from tray"
**Describe the bug**
NotificationMessageReceived  does not trigger when a notification is clicked from the notification tray (background notification). It does trigger when the notification is received in foreground.

***Exception or Stack Trace***
[removed]

**To Reproduce**
Implemented Azure Notification Hubs for Xamarin (azure-notificationhubs-xamarin). Sent notification from Azure Notification

[2020-12-15 21:25] MyotisX commented on #40
Additional information:

the problem occurs when I'm sending a Notification+data payload. The notification appears in the system's tray. When pressed, the app opens and the MainActivity receives the data in it's intent's extras. However, the NotificationListener does not trigger OnPushNotificationReceived. This used to work with AppCenter.

@marstr could you help with this? I am migrating from App

[2020-12-16 22:10] marstr commented on #40
Howdy! I'm here to help.

You are correct - the Android SDK doesn't support this the way ACP does. While there's a lot more I could say, the basic thinking is that most of the time the two ingress points represent pretty darn different scenarios. My recommendation is to build a class of your own that knows how to extract the information it needs out of either the event arguments that are delivered

[2020-12-18 18:34] andrekiba commented on #21
Since the last time I still have the same error in case of in-app update...not if I start from a new app.

Raising the same issue on app-center side, as you suggested, they just found the time to immediately close the issue saying that you are in contact... https://github.com/microsoft/appcenter-sdk-dotnet/issues/1458
Sorry but...it is something unbelievable...the deadline for the stop of AppCente

[2020-12-19 02:23] marstr commented on #21
I'm sorry, I can feel your frustration and I get it.

I'm sorry you're still encountering issues. Have you been able to retrieve the body of the 400 yet, so that I have a shot at being able to help you? In the most recent release, the server's error details should be in the exception message.

[2020-12-19 04:57] andrekiba commented on #21
Martin I really appreciate your effort.
No, I cannot retrieve the body of the error because I can't debug the in-app update and directly use the debugger to inspect the error.
Please look at the code above where I use `TaskSchedulerOnUnobservedTaskException` and `CurrentDomainOnUnhandledException`.
Every non-catched exception goes here...I try to log useful information like the StatusCode and the

[2020-12-19 05:08] andrekiba commented on #21
I also notice that in my solution I have:
[code]
but now in repo you have:
[code]

You told me that `Xamarin.Azure.NotificationHubs.Android` was updated...and ok...the others are only dependencies??

[2020-12-20 07:57] andrekiba commented on #21
Finally I moved everything directly in the Xamarin.Android project (not in the Forms one as before) and here I can see the error that I have only in case off update of an existing app (if I start from a fresh installation it works great)

![Schermata 2020-12-20 alle 08 49 32](https://user-images.githubusercontent.com/12699760/102708120-d6bf6480-42a0-11eb-933f-76320a3473ca.png)

I also want to say

[2020-12-21 23:36] MyotisX commented on #21
@andrekiba @marstr
I'm experiencing the same issue. Has anyone made progress on this?

[2020-12-22 08:19] andrekiba commented on #21
unfortunately no :-( ...

[2020-12-22 23:23] marstr commented on #21
Ah, okay. Now we're getting somewhere. This error is what will be presented if Firebase fails to initialize. I've heard some other reports recently about the Release profile not working right, and it coming down to a missing hint to a package minimizer that prevents it from stripping out pieces we need. I'll work on a work around for that, and publish it here to see if it's the same issue.

[2020-12-24 02:39] marstr commented on #21
I just mentioned in another thread - but one explanation for why this error is occurring is that the release profile is overly aggressive, and removes class definitions you actually need.

To see if this is your problem, you can edit your Release profile to not do any shrinking. If everything "just works" then we'll be able to confirm that this is the issue. To fix it, we'll need to telegraph to t

[2020-12-28 10:01] tklempay commented on #38
I have the same error when I download the code and try to build it locally.

For the heck of it, I created the missing ".../src/bindings/output" directory and reloaded the project.

I now get the following error:
_Generating MSBuild file D:\Dev\azure-notificationhubs-xamarin-main\src\Microsoft.Azure.NotificationHubs.Client\obj\Microsoft.Azure.NotificationHubs.Client.csproj.nuget.g.targets.
Writing

[2020-12-29 08:55] andrekiba commented on #21
@marstr seems this is not the problem...
The "Release" profile is the same for both the cases (starting from a fresh installation or starting from an old version of the application with an in-app update), the builded apk is exactly the same apk.
Another time...this is a big problem...do you have another idea?

![image](https://user-images.githubusercontent.com/12699760/103271947-e08d4a00-49bb-11eb

[2020-12-30 05:37] andrekiba commented on #21
Could the problem be related to the fact that in case of update of an already existing app you already have (I suppose) a Firebase registration to uniquely identify the device?
The registration was made by the AppCenter Push sdk [https://docs.microsoft.com/en-us/appcenter/sdk/push/xamarin-android](url).

[2021-01-06 12:01] matscr commented on #26
Any recent news?

[2021-01-06 12:05] DopaFiend commented on #26
I completely gave up with azure push notifications eventually. I moved over to firebase which is free and as bonus, also works. I would recommend others do the same.

[2021-01-07 06:11] andrekiba commented on #21
Hello @marstr do we have any news on this?
We are actually without the service, the only way seems to re-install the app from the scratch.

[2021-01-07 09:55] tharindup commented on #21
@andrekiba after the update once you opened the app for the first time, did you try closing the app and open again?

We are following a similar pattern like you and got a similar error. When we update the old app (which was using **AppCenter**) to the **Notification Hub** version and sent notifications using `$InstallationId:{installationId}` tag format, the app did not receive any notification. W

[2021-01-07 11:14] andrekiba commented on #21
In our case no, reopening the app doesn't solve...

[2021-01-11 21:58] marstr commented on #21
Howdy folks, I just wanted to update thread. I'm working on reproducing this locally. So far, native Java apps don't exhibit this problem. I'll report back with Xamarin/Java bindings soon.

[2021-01-13 01:33] marstr commented on #21
Alright - I was able to repro the problem. I'll keep digging and hopefully be able to fix this.

[2021-01-13 16:30] mpodwysocki commented on #26
@DopaFiend @matscr and others, we are updating the documentation to use the latest APIs that should be merged soon https://github.com/MicrosoftDocs/azure-docs/pull/68800

We are aware of the bug in the legacy APIs due to threading issues and are advising people to use the new APIs

[2021-01-14 06:09] andrekiba commented on #21
Thank you @marstr I hope we can have a solution soon.

[2021-01-14 21:10] marstr commented on #40
Closing this out as it is by design, the expected implementation has been described, and there haven't been any follow-up questions in the last month.

[2021-01-14 21:10] #40 closed

[2021-01-20 10:32] pablolop002 commented on #38
Edit Microsoft.Azure.NotificationHubs.Client.csproj on line 46 and specify Xamarin.Azure.NotificationHubs.iOS version to 3.1.1, reload the project and then you can compile. The 3.1.2 isn't available on nugget.

[2021-01-20 10:45] pablolop002 opened #47 "[BUG] Invalid cast exception on PlatformAddTags(string[] tags)"
**Describe the bug**
App trows InvalidCastException when you call PlatformAddTags function on iOS.

***Exception or Stack Trace***
[code]

**To Reproduce**
Call NotificationHub.AddTags from the forms project.

***Code Snippet***
[code]

**Expected behavior**
Tags added to notification hub.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Setup (please complete the f

[2021-01-20 10:56] pablolop002 commented on #39
Authorization request for using notifications is handled by the iOS package itself, you don't need to worry about

[2021-01-21 00:56] marstr commented on #21
Alright! I have the problem figured out. Basically, in our situation an in-app update doesn't create a new Firebase Instance ID. This means that our FirebaseReceiver is never woken up, which means it never seeks the device identifier, and never hands it to the NotificationHub class or our servers.

I was able to successfully wake up the receiver by simply sending a broadcast Notification from App

[2021-01-21 01:45] marstr commented on #21
Alright @andrekiba & @MyotisX,

Please try adding the following line, immediately following your call to `NotificationHub.Start`:

_C#, Xamarin_
[code]
_Java_
[code]

This should act as a work around, and I'll look into ways to avoiding the lazy-start that Android puts on this service, so that other customers aren't impacted in the future.

[2021-01-21 20:52] marstr commented on #21
Alright, there's a PR that also addresses the lazy-start now: https://github.com/Azure/azure-notificationhubs-android/pull/175

We'll make sure that the next version of the SDK doesn't have this problem, and that it is released ASAP.

[2021-01-22 05:24] andrekiba commented on #21
ok @marstr thank you, for now I try to use the StartService as a work around and see if it works.
Then, when the https://github.com/Azure/azure-notificationhubs-android/pull/175 will be solved,
will it also be integrated in this Xamarin Forms project?
When we will have an official nuget package?

[2021-01-22 06:08] andrekiba commented on #21
do we still need these lines in the manifest?
[code]
I try to test your work around better but with a first try seems that the app crashes exactly when it tries to start the FirebaseReciever...

[2021-01-22 18:21] marstr commented on #21
@andrekiba

No - The SDK itself declares everything it needs in a manifest that it provides, and will automatically get merged with yours at compile time.

Once we publish a new copy (wheels are turning there), new Xamarin bindings will be generated and published. I'll make sure that the Xamarin Form project adopts it.

A totally understandable question. It is on our road-map, but I can't commit t

[2021-01-26 12:13] galadril opened #48 "[BUG]"
**Describe the bug**
I've build a private nuget package from this code without any issues. Im also able to run the sample project.
But it just doesn't do anything. The Connectionstring and Hubname are set to my own setup, but I never receive any error/exception, or Installation id..

         NotificationHub.InstallationSaved += OnInstallatedSaved;
         NotificationHub.InstallationSaveFailed +

[2021-01-27 05:33] andrekiba commented on #21
@marstr I can confirm that your trick crashes the app...
[code]

Adding the line to try to start the FirebaseReceiver leads to this exception.

[code]

[2021-01-27 19:34] marstr commented on #21
This is likely an independent issue that you're running into. This can happen when Google Service aren't being applied to your application, or if your application ID doesn't appear in your `google-services.json`.

Side note, NotificationHub.Start should be called with an Application, not an Application Context.

I am sorry to hear you're still having trouble. I do think it's important to note for

[2021-01-28 04:58] andrekiba commented on #21
Hello @marstr,
yes I know about the Application, the line

`NotificationHub.Start((Android.App.Application)Android.App.Application.Context, Constants.NotificationHubName, Constants.NotificationHubConnectionString);`

was just a test, if I use the

`NotificationHub.Start(this.Application Constants.NotificationHubName, Constants.NotificationHubConnectionString);`

I have the same error calling the `

[2021-01-28 21:36] marstr commented on #14
Fixed in https://github.com/Azure/azure-notificationhubs-xamarin/pull/15

[2021-01-28 21:36] #14 closed

[2021-01-28 23:04] marstr commented on #21
Version 1.1.4.1 of the bindings for the Android SDK is now available on NuGet and should allow you to try a solution which doesn't involve the work around. However, if Firebase isn't initializing, you'll continue to see the same error. The stack trace will just be in a slightly different location. I can't get into details of other customers, but I can confirm that I've ensured that the issue with

[2021-01-29 05:31] andrekiba commented on #21
ok @marstr I try this morning, to do it I need to update the references for this Xamarin.Forms project or what I can see in this repo is already correct?

[2021-01-29 09:22] andrekiba opened #49 "FirebaseApp not initialized with the latest Xamarin.Azure.NotificationHubs.Android binding"
This issue is related to #21
With the latest version of the `Xamarin.Azure.NotificationHubs.Android ` binding (1.1.4.1) we have exactly the same error.
Sorry @marstr but I really don't understand at this point.
Is it possibile to have something that works?
Or at least have a support to understand the problem, I asked many times to have the possibility to schedule a call, with you or I don't know w

[2021-01-29 19:16] marstr commented on #21
Closing as the scope of this issue has been fixed. Other child threads will live on. :)

[2021-01-29 19:16] #21 closed

[2021-01-29 19:22] marstr commented on #49
Thanks for creating a new thread, @andrekiba.

Please try the solution seen here: https://stackoverflow.com/questions/49452001/default-firebaseapp-is-not-initialized-in-this-process-make-sure-to-call-fireba?fbclid=IwAR1rc8Bx6dRctfb2lYAg_NrtZKF6X4ib0jloul6ic4dbcr3hCc7z9M18AQE

[2021-01-29 20:05] andrekiba commented on #49
already tried @marstr, exactly your link...doesn't work.
You have the google-services.json of out app.
about the guide here https://docs.microsoft.com/it-it/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm
what is still useful and what not?

[2021-01-30 07:06] andrekiba commented on #49
Looking at this https://forums.xamarin.com/discussion/181872/firebase-app-giving-default-firebaseapp-is-not-initialized-in-this-process-error I also tried to add directly the `Xamarin.Firebase.Messaging` v121.0.1  and `Xamarin.GooglePlayServices.Base` v117.5.0 to the Android project.
The two packages with the same versions are also referenced from your project as follow:
[code]
In manifest the sdk

[2021-02-01 11:00] andrekiba commented on #49
Referencing Xamarin.Google.Dagger in the Android project seems solve this https://stackoverflow.com/questions/65381403/java-lang-noclassdeffounderror-when-implementing-firebase-cloud-messaging.
Do you know the reason?

[2021-02-02 11:52] smobiledev opened #50 "[BUG] Getting build error '../Downloads/azure-notificationhubs-xamarin-main/src/bindings/output' doesn't exist."
After downloading the latest source code and whenever am trying to run the solution getting error.

[2021-02-02 16:40] andrekiba opened #51 "[FEATURE REQ] Have the possibility to decide the installation expiration window"
**Is your feature request related to a problem? Please describe.**
I still do not understand why you decided to reverse the default behavior (no expiration) but in this case we need I way to decide the expiration window (some apps are meant to be kiosks, they "never" restart...)

**Describe the solution you'd like**
Provide a way to pass a custom (longer) duration throw the NotificationHubInstalla

[2021-02-02 17:42] marstr commented on #51
This is a valuable explanation of why you need more control over expiration dates. While expiration dates really help us at an operational level, I can start looking into an option for you. If nothing else, this could be a good cookbook addition.

[2021-02-02 17:46] marstr commented on #49
Interesting - there must be a transitive dependency that isn't getting communicated all the way through. We'll follow up with this before we release a NuGet package.

[2021-02-03 17:20] marstr commented on #51
Howdy @andrekiba,

There's a method called `NotificationHub.BeginInstallationUpdate()`. It's a public method, and under the covers it's what is used to alert us that we should look into updating an Installation for a myriad of reasons, but including that the installation is about to expire.

If you add a call to this method that happens periodically (say once a day), your installation will always

[2021-02-03 17:30] marstr commented on #50
Closting as duplicate of #38

[2021-02-03 17:30] #50 closed

[2021-02-03 17:52] marstr commented on #49
Doing some house-keeping. Because this is something that will get tidied up when we fix #38, I'm going to close it as a duplicate.

[2021-02-03 17:52] #49 closed

[2021-02-04 08:17] andrekiba commented on #51
ok @marstr thanks,
I try with a scheduled daily task to call this.
I'll keep you posted.

[2021-02-22 07:03] smobiledev opened #53 "Facing issues with push notification data format/conversion"
As a part migration form App Center Push,I have integrated "Microsoft.Azure.NotificationHubs.Client" into my solution and using only Xamarin forms with iOS(Later will work on Android).

It seems like there is an issue with Push notification info coming from Azure Notification Hub.
For ex :

 {"aps":{"alert":"Notification Hub test notification","PNHeader":"PN Header Text"},
"Details":{"source":"s1"

[2021-02-22 14:03] R00iBaard opened #54 "How to implement custom actions"
Hi there,

Dont know if this is the correct terminology (Custom actions), however I would like to be able to take a user to a specific page (pass parameters to a page) on opening the notification. Is this possible with the Xamarin Forms library?

Many thanks!

[2021-02-22 14:38] smobiledev commented on #54
Yes it is possible.
For example, if you want to use this plugin with Xamarin forms we can start NotificationHub from App.xaml.cs and Notification received event in the same class.
Whenever you click on the notification Manually if the App is in background/killed state or if the App is running in Foreground the same method will be called, after that whatever you want to do you can do.
For navigatin

[2021-02-22 15:16] R00iBaard commented on #54
Ah ok course, my bad.
Thank so much!

[2021-02-22 15:16] #54 closed

[2021-03-08 15:09] shaytate commented on #26
Could someone assist me with this? I am still not receiving any notification message that hits DidReceivePushNotification. I see success messages in Azure when sending. I followed the latest documentation fully. I am using the following:

    Windows 10 PC, connected to a Mac over local network.
    Visual Studio 2019 v16.8.6
    Xamarin.Azure.NotificationHubs.iOS v3.1.1
    iphone 7 v14.4 (Connec

[2021-03-16 14:24] MelissaW990 opened #57 "[BUG] Xamarin Forms Android Push Notifications not received when app has been swiped closed"
**Describe the bug**
I have had push notifications configured in my Xamarin Forms app for the last year and this week decided to update to the new SDK, although I am having issues with Xamarin Android.

I have tried to copy the documentation here: https://docs.microsoft.com/en-us/azure/notification-hubs/xamarin-notification-hubs-push-notifications-android-gcm and believe I am 90% of the way there

[2021-03-18 23:28] wesoos opened #58 "OnPushNotificationReceived method not hit when app in background"
Hello, when my android app is in background, the OnPushNotificationReceived method is never hit.  I am receiving the notification, and it's displayed in task tray using the default notification channel.  However we need to be able to intercept the notification data for further processing.

I'm am using the latest version of everything.
Windows 10
Visual Studio

[code]

[2021-03-18 23:44] wesoos commented on #58
Update, I read in another closed issue that if the app is in the background, and the notification is clicked in the task tray, the intent should have the data payload as extras in the intent.  However this is not working.  My extras is always null, in OnNewIntent and OnCreate.

[code]

[2021-03-19 08:41] MelissaW990 commented on #58
Hello, can you try these two methods in your Azure Listener Class:

` void INotificationListener.OnPushNotificationReceived(Context context, INotificationMessage message)
        {
            string messageBody = string.Empty;
            string title = string.Empty;
            long serialNumber = 0;

            if (!string.IsNullOrEmpty(message.Body))
            {
                messageBody

[2021-03-19 08:46] MelissaW990 commented on #58
Can you also share how you are creating your push notification channel, even though the documentation doesn't say you have to, I have found myself creating it manually or else the notification doesn't appear in the tray at all.

[2021-03-20 13:52] wesoos commented on #58
Thanks Melissa,

I have sorted out the Android side of things. You have to do data only object in the notification to be able to intercept it in the background as well.

As for iOS, I'm receiving when app is in foreground, but not in background. Are you able to intercept in background?  Also can you share how you display the notifications in iOS?

Thanks

[2021-03-20 14:44] MelissaW990 commented on #58
No worries, are you able to receive push notifications on Android when the app has been swiped closed? This is something I cannot get to work at all.

On iOS make sure you have the background modes enabled: Remote notifications and background processing.

Also make sure you are sending notifications like this :
`{
    "aps" : {
        "alert" : {
            "title" : "Hello User",
            "b

[2021-03-20 15:43] wesoos commented on #58
Hi Melissa,

Thank you.  I got it working now.  It's something in that payload that causes background notifications to work.  One thing though, when in background mode, it displays the notification separate and in parallel also goes into DidReceivePushNotification override.  Is that expected or have you figured something out there?

I have not looked into notifications not working when swiped clos

[2021-03-20 16:06] MelissaW990 commented on #58
Glad you got sorted. I think that is the expected behaviour.

no worries, thank you!

[2021-04-11 10:35] Edwin-Chadio opened #59 "[BUG]"
**Describe the bug**
OnPushNotificationReceived not hit at all when push notification arrives. Only OnMessageReceived in the FirebaseMessagingService when app is in foreground. OnMessageReceived also not hit when app is in background.

***Code Snippet***
[code]

**Expected behavior**
OnPushNotificationReceived should hit when push notification is delivered

**Setup (please complete the following i

[2021-04-12 11:14] FrankSzendzielarz commented on #49
I am getting this error too, with latest libraries. The original error. Even with the Dagger reference. I have tried adding the FirebaseApp.InitializeApp into OnCreate, but NotificationHub.Start always throws this error. At a loss how to proceed.

[2021-04-13 06:02] adambarath commented on #49
I solved it by check all setting on Google Console and Firebase Console. (I had a unset policy settings..)

[2021-04-13 06:30] FrankSzendzielarz commented on #49
Yes i finally found the root of the issue which for me was that the new Firebase stuff manages "installations" as a new API, so it's necessary to go into cloud console and enable Firebase Installation Api . Without this the device registration fails , which happens when the azure hub client is started.

[2021-05-13 21:05] StephanRaab commented on #12
https://www.nuget.org/packages/Azure-NotificationHubs.Client.Xamarin/1.1.0.1-beta

[2021-05-13 21:21] StephanRaab opened #60 "[QUERY] Notification Hub only working on Android"
**Query/Question**
I have an *Azure function* that talks to `Notification hub`.
When I post a notification message to the function it sends it to `Notification Hub`, which in turn sends it down to the device.
I'm only receiving notifications on Android in this manner.
But, when I go to Notification Hub and send a test message to iOS, I do receive that.

**Setup (please complete the following infor

[2021-06-28 18:41] ahoke-cr commented on #60
I'm able to receive messages on iOS when deploying directly to an iPhone, but not when I archive the app and distribute via TestFlight. Notification Hubs shows the test message was successfully sent, but my remote notification listener delegate is not invoked.

[2021-07-15 21:31] raymond-dillon opened #68 "[BUG] APNS Template Ignored when Added"
**Describe the bug**
Cannot attach template to MSNotificationHub.

***Exception or Stack Trace***

0 CoreFoundation                      0x00000001a97a8814 4D6DD6DD-22E4-3858-9A0C-3CB77C2F13D6 + 1230868
	1   ProjectName.iOS                  0x0000000108073938 _ZN7plcrash2MS5async24dwarf_cfa_state_iteratorIyxE4nextEPjPNS1_28plcrash_dwarf_cfa_reg_rule_tEPy + 61493108
	2   ProjectName.iOS

[2021-08-02 10:08] kiske1 opened #72 "[QUERY] Deregister device"
**Query/Question**
Is there a deregister function?
I'm looking for a way to deregister the device and remove the installation from the hub, like I was used to do in a backend using DeleteInstallationByIdAsync.
Thanks.

**Setup (please complete the following information if applicable):**
 - OS: n/a
 - IDE : Visual Studio 2019
 - Version of the Library used : 1.0.0.0

 **Information Checklist**
- [X

[2021-08-11 14:18] kiske1 commented on #57
I bump this one as I have the same issue. The only difference my dev machine is Windows

[2021-08-31 14:13] raymond-dillon opened #73 "[BUG]"
**Describe the bug**
Build Error on Android when Nuget package is added.

***Exception or Stack Trace***
![image](https://user-images.githubusercontent.com/28100585/131518218-64336ad0-1c6e-4243-b9a4-cae00560e800.png)

**To Reproduce**
Add the latest stable nuget (1.0.0)

***Code Snippet***
None - just try and build the Android Project.

**Expected behavior**
Android Project Builds.

**Screenshots*

[2021-10-07 12:49] charlesroddie opened #75 "[FEATURE REQ] Windows"
Azure Notification Hubs says:

However this repo only lists Apple and Android. So Windows UWP is needed. This would then cover the 4 main XF platforms (iOS, Android, Windows, Mac).

[2021-12-20 20:33] benOnside opened #92 "[BUG] Conflicts with some other library"
**Describe the bug**
When I add the xamarin android package
- Xamarin.Azure.NotificationHubs.Android (1.1.4.1)
to our xamarin forms project, and update the appropriate libraries
- xamarin.googleplayservices.base (117.6.0.2)
- xamarin.firebase.messaging (122.0.0.2)
- xamarin.google.dagger (2.37.0)
Then I get the following error:
"java.exe" returned exit code 1

I'm not sure that this is the right p

[2021-12-28 13:00] Phenek commented on #12
Hey great to found this package, because Microsoft documentation is outdated...

Is it possible to release this in official nuget package, please?
@mpodwysocki, @microsoftopensource

Thx anyway for your work <3

[2022-01-06 12:27] Phenek opened #94 "[BUG] Dependencies: 2 downgrades and 4 upgrades"
**Is your feature request related to a problem? Please describe.**
Your solution does not compile...
[code]

**Describe the solution you'd like**
Please maintain packages references.
And provide a public nuget on nuget.org!!
As describe in your documentation. please :)

**Describe alternatives you've considered**
Making a fork, a custom nuget and a PR.

**Information Checklist**
- [x] Xamarin.form

[2022-01-06 12:43] Phenek commented on #92
Try my PR #95

Maybe it could help?

[2022-01-06 13:32] Phenek commented on #59
Actually it will hit when the user click on the notification only.

But I am ok with you when we click on the notification and the app is totaly close/kill.
The App start and should raise a NotificationReceived event like in iOS.

But it does not work like iOS and the NotificationReceived event is not raised on click

[2022-01-07 10:59] Phenek commented on #60
iOS use two push notifications certificates
Production => for release purpose (Testflight, AppStore)
Sandbox => for debug purpose (development)

What is your configuration in notification hub?

![Screenshot 2022-01-07 at 11 55 25](https://user-images.githubusercontent.com/4518686/148534359-6a816e0f-0ce2-4dc4-90a8-54649cf149a7.png)

[2022-01-07 17:12] Phenek commented on #38
#95

[2022-01-13 18:12] mpodwysocki commented on #38
Closing as per #95

[2022-01-13 18:12] #38 closed

[2022-01-13 18:12] mpodwysocki commented on #94
Closing as per #95

[2022-01-13 18:12] #94 closed

[2022-01-13 20:39] benOnside commented on #92
Thanks for the suggestion @Phenek. I tried updating to the packages you updated in your PR, but I still get the same error. Do you think updating my packages is equivalent to using your PR, or would I need to download the source code to test it?

[2022-01-31 03:28] benOnside commented on #92
I've given up on fixing this and switched our system over to OneSignal. However if anyone else gets the error message "java.exe" exited with code 1, know that you can increase the verbosity in visual studio. Search for MSBuild verbosity and you should be able to change it. Hopefully that helps someone with a similar problem.

[2022-02-07 09:10] gianox commented on #57
I bump this one as I have the same issue.

[2022-02-09 11:57] HenrikHolmIT opened #98 "[QUERY] How to use this library? Files are missing in my repository"
**Query/Question**
ELI5

How to make sure all assets and needed files are downloaded? I cannot build project currently because a common_google_signin_btn_icon_light_normal_background.9.png file is missing.

I have no idea how to find this file and add it to my local repository.

Microsoft.Azure.NotificationHubs.Client\azure-notificationhubs-xamarin\src\Microsoft.Azure.NotificationHubs.Client\obj\R

[2022-04-27 11:21] MelissaW990 commented on #57
@kiske1  I see you solved this issue yourself, I have tried running it in release mode and for me it still doesn't work :( a year later and I am still getting the same error message.. Any chance you could share the full code of your azure listener class
 and the manifest file?

[2022-04-27 16:44] kiske1 commented on #57
Hi @MelissaW990, no problem:

here is the PushNotification Implementation:

[code]

Please note that there are some helpers functions of mine just to manage the push tags

in the  MainActivity.cs, in the OnCreate function I call this function:

[code]

Here is my AndroidManifes.xml:

[code]

If you need something else just ask.

[2022-06-14 20:28] wildginger opened #111 "[QUERY] Duplicate installations/registrations after re-install"
Hi all,

I have got my apps successfully registering and receiving notifications, I can send a test notification from Azure and it is received as expected.

But each time I uninstall the app, and re-install it, it seems to be creating a new registration in Azure Notification Hub, as when I sent a test notification again, the results say successfully sent 2 notifications. Im currently on 5 registra

[2022-08-16 13:40] mtelle opened #115 "[FEATURE REQ] MAUI Support"
Hello,

It is planned MAUI support for azure notification hubs?

Thanks.

[2022-09-06 18:39] kellertimo commented on #115
Hello, anybody out there for answering this question?

[2022-09-14 13:25] kellertimo commented on #115
Hello, anybody out there for answering this question?

[2022-09-17 17:40] kellertimo commented on #115
Nothing new?

[2022-11-27 23:22] juanevp commented on #19
For future reference, this also happened to me in Windows. In my case the problem turned out to be that the length of those paths exceeded the max path length allowed by Windows. I fixed it by moving the repository to a directory closer to the root.